.header {
    background-color: var(--accent-color);
}

.header-banner-h1,
.header-nav-logo {
    font-size: 3.5rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-color);
}

.header-nav-menu-item {
    color: var(--main-color);
    text-transform: uppercase;
    text-decoration: none;
}

.header-nav-menu {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.header-nav-menu-item:hover {
    font-weight: bold;
}

@media (min-width: 600px) {
    .header-nav {
        display: flex;
    }
    
    .header-nav-menu {
        flex-direction: row;
        align-items: center; 
        justify-content: space-around;
        flex: 1;
    }
}

.header-banner {
    background-image: url(../img/baby-yoda.svg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-banner-h1 {
    color: var(--accent-color);
}